services:
  db-security:
    image: postgres:16-alpine
    container_name: "auth-security"
    environment:
      POSTGRES_DB: airlinedb_security
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5