server:
  port: 9005
  shutdown: GRACEFUL
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/airlinedb_security
    username: user
    password: password
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update

jwt:
  public:
    key: classpath:app.pub
  private:
    key: classpath:app.key
  issuer: ${spring.application.name}
  expires-in: 240
  refresh:
    expires-in: 2592000


logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

management:
  endpoints:
    web:
      exposure:
        include: configprops, env, flyway, health, heapdump, info, loggers, mappings, prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
