server:
  port: 9005
  shutdown: GRACEFUL
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/airlinedb_security
    username: user
    password: password
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update

jwt:
  public:
    key: classpath:app.pub
  private:
    key: classpath:app.key
  issuer: ${spring.application.name}
  expires-in: 240
  refresh:
    expires-in: 2592000