spring:
  datasource:
    url: jdbc:postgresql://airline-postgres/airlinedb_security
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service:9005/api/auth/.well-known/jwks.json